@import '../vendor/public/lesshat/build/lesshat';
@import '../styles/librery';

body {
  background-color: gray;
  margin: 0;
  padding: 0;
  width: 100%;
}

  .auth {
    margin: auto;
    max-width: 970px;

    .button {
      .myButton(0 29px 7px -15px inset);
      color: white;
    }

    form {
      background: #e0eff9;
      background: -moz-linear-gradient(45deg, #e0eff9 0%, #b5c6d0 42%, #d8e1e7 54%, #f2f6f8 66%, #f2f6f8 100%);
      background: -webkit-gradient(left bottom, right top, color-stop(0%, #e0eff9), color-stop(42%, #b5c6d0), color-stop(54%, #d8e1e7), color-stop(66%, #f2f6f8), color-stop(100%, #f2f6f8));
      background: -webkit-linear-gradient(45deg, #e0eff9 0%, #b5c6d0 42%, #d8e1e7 54%, #f2f6f8 66%, #f2f6f8 100%);
      background: -o-linear-gradient(45deg, #e0eff9 0%, #b5c6d0 42%, #d8e1e7 54%, #f2f6f8 66%, #f2f6f8 100%);
      background: -ms-linear-gradient(45deg, #e0eff9 0%, #b5c6d0 42%, #d8e1e7 54%, #f2f6f8 66%, #f2f6f8 100%);
      background: linear-gradient(45deg, #e0eff9 0%, #b5c6d0 42%, #d8e1e7 54%, #f2f6f8 66%, #f2f6f8 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0eff9', endColorstr='#f2f6f8', GradientType=1 );
      border: 1px solid;
      .border-radius(40px);
      .border-top-left-radius(0);
      .box-shadow(2px 5px 30px 0);
      height: 500px;
      margin: 50px auto;
      max-width: 500px;

      table {
        height: 100%;
        width: 100%;
        font-size: 20px;
        padding: 30px;

        input {
          border: medium none;
          .border-radius(0 10px 10px 0);
          .box-shadow(2px 2px 5px 0);
          font-size: 16px;
          padding: 4px;
          width: 100%;
        }
      }
    }
  }

  /*
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.myclass3 {
  &:extend(.clearfix all);
  height: 500px;
  .float {
    float:left;
    width:200px;
  }
}

<div class="myclass3">
    <div class="float">A</div>
    <div class="float">B</div>
</div>
  */