@import '../vendor/public/lesshat/build/lesshat';

body {
  background-color: gray;
  margin: 0;
  padding: 0;
  width: 100%;

  .auth {
    margin: auto;
    max-width: 970px;

    form {
      background-color: white;
      border: 1px solid;
      border-radius: 40px;
      border-top-left-radius: 0;
      box-shadow: 2px 5px 30px 0;
      height: 500px;
      margin: 50px auto;
      width: 500px;

      table {
        height: 100%;
        width: 100%;
        font-size: 20px;
        padding: 30px;

        input {
          border: medium none;
          box-shadow: 2px 2px 5px 0;
          font-size: 16px;
          width: 100%;
        }
      }
    }
  }
}
